<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="DnD, dangeon and dragons, roleplay, dice, roller, 3D, RPG, wargame"/>
<meta name="description" content="Online 3D dice roller"/>
<title>Create me  a Town</title>

<style type="text/css">@import "static/css/main.css";</style>
<style type="text/css">@import "static/css/dice.css";</style>

</head>

<body style="margin: 0">
   <div id="house_props" class="house_props" style="display: none">
	<span id="house_props_header"></span>
	<span id="house_props_body"></span>
   </div>
    <div class="control_panel">
    </div>
    <div id="info_div">
        <div class="center_field">
            <span id="town_name">Generating a Town..</span>
	    <div class="town_prop" id="town_properties"></div>
        </div>
    </div>
    <div id="selector_div" style="display: none">
        <div class="center_field">
            <div id="sethelp">
            </div>
        </div>
        <div class="center_field">
            <input type="text" id="set" value="4d6"></input><br/>
            <button id="clear">clear</button>
            <button style="margin-left: 0.6em" id="throw">throw</button>
        </div>
    </div>
    <div id="canvas" class="svg"></div>
    <script src="static/libs/three.min.js"></script>
    <script src="static/libs/cannon.min.js"></script>
    <script type="text/javascript" src="static/libs/teal.js"></script>
    <script type="text/javascript" src="static/libs/dice.js"></script>
    <script type="text/javascript" src="static/libs/main.js"></script>
    <script
  	    src="https://code.jquery.com/jquery-3.2.1.min.js"
  	    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	    crossorigin="anonymous"></script>
    <script type="text/javascript" defer="defer">
        diceInitialize(document.getElementById("canvas"), window.innerWidth - 1, window.innerHeight - 1);
    </script>
</body>
</html>
